.card-book {
  height: 80vh;
  width: 60vw;
  background-color:beige;
}
.card-body {
  display: flex;
}
.book-img img {
  height:30vh;
  width: 16vw;
  margin:0.5rem;
}
.card-book-sec {
  height:46vh;
  width: 40vw;
  background-color: bisque;
  margin: 1rem;
}
.card-book-sec h4{
  color:black ;
  font-weight:400;
  padding: 0.4rem;
}
.card-room-de{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 0.1rem;
    margin: 0.3rem;
}
.card-order{
    display: flex;
    justify-content: space-between;
}
.price-card{
    margin: 0.5rem;
}
.card-price-sec{
    margin:0.5rem;
}
.add-more-btn{
 
}
.card-part-2{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}